.line {
    stroke: black;
}

.area {
    fill: #d6d6f0;
}

svg circle {
    fill: black;
}

svg text {
    font-size: 16px;
}

.hit-dot {
    color: darkslategrey;
}

.fail-dot {
    color: #8c143c;
}