target
!**/src/main/**/target/
!**/src/test/**/target/


### Maven ###
.mvn
mvnw
mvnw.cmd

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

### Windows ###
desktop.ini